.article__meta,
.article__tax {
  font-family: var(--highlight-font);
  font-size: 80%;
}

.article {
  max-width: var(--content-w-regular);
  margin: 0 auto;
  padding: 74px 0 1rem;
}

.featimg {
  margin-top: 3rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.article__title {
  margin-bottom: 1rem;
  padding-top: 1rem;
  font-size: 4rem;
  text-align: center;
}

.article__meta::before {
  display: block;
  margin: 0 auto 1rem;
  content: "- — -";
}

.article__meta {
  text-align: center;
}
.article__meta,
.article__tax {
  margin-top: 0;
}

.article__content {
  max-width: var(--content-w-narrow);
  margin: 3rem auto;
}

.articlelist {
  margin: 0 auto;
  padding: 0 2rem;
}

.articlelist h2 {
  margin-top: 2rem;
  font-size: 4rem;
  text-align: center;
}

.articlelist ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.listitem {
  margin: 3rem 0;
}

.listitem .article__content {
  margin-top: 1rem;
}

.listitem::after {
  content: "";
  display: block;
  width: 10rem;
  margin: 4rem auto;
  border-bottom: 1px solid black;
}

.container {
  position: relative;
  text-align: center;
  color: var(--white);
}

.dark__overlay {
  filter: brightness(50%);
}

/* Hero container */

.hero__container {
  position: relative;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  height: 584px;
  width: 100vw;
  object-fit: cover;
}

.hero__text {
  text-align: center;
  color: var(--white);
  width: 80vw;
  position: absolute;
  left: 0;
  top: 140px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.crest {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
}

.crestContainer {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__top {
  position: relative;
  text-align: center;
  color: var(--white);
  padding-top: 6px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.center__text {
  text-align: center;
  margin-top: 0.7rem;
}

.belowheader {
  padding-top: 84px;
}

.crestcontainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 100px;
}
