.aboutCard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/AdobeStock-track-119954823_Preview.jpeg");
}

.workCard {
  background-image: url("../images/AdobeStock-baseball_batting_spot-13720898_Preview.jpeg");
}

.contactCard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/AdobeStock-high_school_fields-296321889_Preview.jpeg");
}

/* Header area */
/* ------------------------------------------- */
a {
  color: inherit;
}

.listitem {
  margin: 3rem 0;
}

.listitem .article__content {
  margin-top: 1rem;
}

.listitem::after {
  content: "";
  display: block;
  width: 10rem;
  margin: 4rem auto;
  border-bottom: 1px solid black;
}

.topBar {
  height: 71px;
}

/* Hero container */
/* ------------------------------------------- */

.video {
  position: relative;
  top: 0;
  left: 0;
  height: 30rem;
  width: 100vw;
  object-fit: cover;
  filter: brightness(50%);
}

.visionBlock {
  display: none;
}

.visionParagraph {
  display: none;
}

/* Dark Background */

.darkBackground {
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
}

.darkBackground p {
  color: white;
}

.darkBackground h2 {
  color: white;
}

.darkBackground h3 {
  color: white;
}

.darkBackground a {
  color: white;
}

/* Background video: For desktop views ----------------------------*/
@media (--viewport-wide) {
  .videoBackground {
    position: absolute;
    width: 100vw;
    top: 90px;
  }
  .video {
    height: 80vh;
  }
}

/* Below hero area and map */
/* ------------------------------------------- */

.standaloneParagraph {
  margin: 1rem;
  max-width: var(--content-w-narrow);
}

.contentBlock {
  display: flex;
  justify-content: center;
}

.centerText {
  text-align: center;
  margin-top: 1.7rem;
  color: var(--dark-blue);
  margin-bottom: 0;
}

.belowheader {
  padding-top: 84px;
}

/* Front page cards */
/* ------------------------------------------- */

.cardContainer {
  position: relative;
  text-align: center;
  color: var(--white);
  object-fit: cover;
  margin-top: 1rem;
  height: 27rem;
}

.cardImage {
  width: 100vw;
  filter: brightness(50%);
  object-fit: cover;
  height: 27rem;
}

.cardTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  filter: drop-shadow(3px 3px 3px #000);
}

.cardText {
  display: none;
}

/* For desktop views --------------------- */

@media (--viewport-wide) {
  .cardContainer {
    margin: 1rem 0.5rem 0;
    display: grid;
    width: 100vw;
    grid-template-columns: 50vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    height: 75vh;
  }
  .cardContainer:first-child {
    margin-left: 0;
  }
  .cardContainer:last-child {
    margin-right: 0;
  }
  .cardImage {
    width: initial;
    width: 100vw;
    height: 75vh;
  }
  .cardLeft {
    grid-area: left;
    display: grid;
  }
  p.cardLeft {
    left: 60%;
    width: 100%;
    padding-left: 15vw;
  }
  .cardRight {
    grid-area: right;
  }
  p.cardRight {
    left: 25%;
  }
  h2.cardLeft {
    left: 55%;
  }
  h2.cardRight {
    left: 35%;
  }
  .cardText {
    display: inherit;
  }
}

.upperCase {
  text-transform: uppercase;
}

.card {
  min-height: 320px;
  padding-top: 120px;
}

.card a {
  text-decoration: none;
}
