@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$dark-blue: #002856;
$light-blue: #00a7e1;
$green: #97ca3d;
$grey: #808285;
$light-grey: #d1d1d1;
$orange: #f78d1e;
$white: #fff;
$black: #000;

.wp-block-cover-image,
.wp-block-cover {
  min-height: 100vh !important;
}

/* Style the video: 100% width and height to cover window */
#myVideo {
  min-width: 360px;
  min-height: 360px;
}

.introText {
  font-weight: bold;
}

.introText h2 {
  color: white;
  font-size: 2.8rem;
}
.introText p {
  color: white;
}

.introRow {
  padding-top: 5%;
}

@include media-breakpoint-up(xl) {
  .introRow {
    padding-top: 15%;
  }
}

.row {
  align-items: center;
}

.subhead {
  text-transform: uppercase;
}

.introText .subhead {
  font-size: 1.2rem;
}

.subhead.tagline {
  font-size: 1.2rem;
  margin-top: 8%;
  color: white;
}

.tagline {
  letter-spacing: 5px;
  font-style: italic;
}

h2 a {
  text-decoration: none;
}

.darkBackground h2 a {
  color: white;
}

.darkBackground p {
  color: white;
}

a h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.grey-section {
  background-color: $light-grey;
}

section {
  padding: 4rem 0 3rem;
}

.blue-section {
  background-color: $light-blue;
  color: $white;
  padding: 2rem 0 2rem;
}

cite {
  text-transform: uppercase;
  font-style: normal;
}

blockquote + cite {
  font-weight: bold;
}

q + br + cite {
  text-transform: initial;
  font-weight: initial;
}

.large-quotation-mark {
  font-size: 10rem;
  font-family: proxima-nova;
  font-weight: 600; // semi-bold
  height: 9rem;
}

@include media-breakpoint-up(md) {
  .large-quotation-mark {
    height: 100%;
    position: relative;
    top: -2.9rem;
  }
}

blockquote + cite {
  font-size: 0.85rem;
}

h2 + h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

q {
  font-size: 1.5rem;
}

q + br + cite {
  display: block;
  padding-top: 0.5rem;
}

button.btn {
  font-size: 0.7rem;
  background-color: $white;
  color: $black;
  border-radius: 0;
  border-color: $grey;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.container h4 {
  font-size: 1.1rem;
  margin-bottom: 1.1rem;
}

a {
  text-decoration: none !important;
}

.btn-primary:hover {
  background-color: $dark-blue !important;
  border-color: $dark-blue !important;
}
