.wp-block-cover-image,
.wp-block-cover {
  min-height: 100vh !important;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  min-width: 360px;
  min-height: 360px;
}

.introText {
  font-weight: bold;
}

.introText h2 {
  color: white;
}
.introText p {
  color: white;
}

.row {
  align-items: center;
}

.subhead {
  text-transform: uppercase;
}

.tagline {
  letter-spacing: 3px;
  font-style: italic;
}
