/* This file is for the CSS custom properties used in the app */

:root {
  /* Fonts */
  --main-header-font-size: 2.9rem;

  --light-font: proxima-nova, sans-serif
  --light-font-weight: 300;
  --light-font-style: normal;

  --primary-font: proxima-nova, sans-serif;
  --primary-font-weight: 400;
  --primary-font-style: normal;

  --highlight-font: proxima-nova, sans-serif;
  --highlight-font-weight: 600;
  --highlight-font-style: normal;
  
  --bold-font: proxima-nova, sans-serif;
  --bold-font-weight: 700;
  --bold-font-style: normal;

  --athletic-font: abolition, sans-serif;
  --athletic-font-weight: 400;
  --athletic-font-style: italic;


  --normal-text: 19px;
  --large-text: 26px;

  /* Colours */
  --dark-blue: #002856;
  --light-blue: #00a7e1;
  --grey: #808285;
  --white: #ffffff;
  --orange: #e03400;
  --purple: #9100bd;

  --mod-light: 90%;
  --mod-medium: 50%;
  --mod-dark: 20%;
  --main-bg-light: hsl(183, 42%, var(--mod-light));
  --main-bg-medium: hsl(183, 42%, var(--mod-medium));
  --main-bg-dark: hsl(183, 42%, var(--mod-dark));

  --dark-blue-overlay: rgba(0, 21, 46, 0.9);
  --light-blue-overlay: rgba(3, 140, 188, 0.9);
  --green: #97ca3d;
  --green-overlay: rgba(133, 178, 53, 0.9);
  --lighter-grey: rgb(230, 230, 230);
  --light-grey: #d1d1d1;
  --orange: #f78d1e;
  --black: #000;

  /* // Layout */
  --one-col-section-lg-pl: 11vw;
  
  /* // styles */
  --photo-shadow: 2px 4px 8px 4px rgb(0 0 0 / 21%);

  /* Other */
  --quote-background-color: rgba(49, 50, 53, 0.8);
  --coachquote-lg-left: 11vw;
  --logo-mobile-scale: 80%;
  --mission-vision-font-size: 1.2rem;
  --about-gradient: var(--dark-blue-overlay);
  --work-gradient: var(--green-overlay);
  --contact-gradient: var(--light-blue-overlay);

}
