@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

:root {
  /* Fonts */
  --main-header-font-size: 3rem;

  --primary-font: proxima-nova, sans-serif;
  --primary-font-weight: 400;
  --primary-font-style: normal;

  --highlight-font: proxima-nova, sans-serif;
  --highlight-font-weight: 600;
  --highlight-font-style: normal;

  --light-font: proxima-nova, sans-serif
  --light-font-weight: 300;
  --light-font-style: normal;
  
  --bold-font: proxima-nova, sans-serif;
  --bold-font-weight: 700;
  --bold-font-style: normal;

  --athletic-font: abolition, sans-serif;
  --athletic-font-weight: 400;
  --athletic-font-style: italic;


  --normal-text: 19px;
  --large-text: 26px;

  /* Colours */
  --dark-blue: #002856;
  --light-blue: #00a7e1;
  --grey: #808285;
  --white: #ffffff;
  --orange: #e03400;
  --purple: #9100bd;

  --mod-light: 90%;
  --mod-medium: 50%;
  --mod-dark: 20%;
  --main-bg-light: hsl(183, 42%, var(--mod-light));
  --main-bg-medium: hsl(183, 42%, var(--mod-medium));
  --main-bg-dark: hsl(183, 42%, var(--mod-dark));

  --dark-blue-overlay: rgba(0, 21, 46, 0.9);
  --light-blue-overlay: rgba(3, 140, 188, 0.9);
  --green: #97ca3d;
  --green-overlay: rgba(133, 178, 53, 0.9);
  --lighter-grey: rgb(230, 230, 230);
  --light-grey: #d1d1d1;
  --orange: #f78d1e;
  --black: #000;

  /* Sizes and widths */
  /* If root size = 16px, then 80rem = 1280px */
  --content-w-wide: 80rem;
  /* If root size = 16px, then 60rem = 960px */
  --content-w-regular: 45rem;
  /* If root size = 16px, then 40rem = 640px */
  --content-w-narrow: 40rem;
  --mobile-card-height: 500px;
}

$photo-shadow: 2px 4px 8px 4px rgb(0 0 0 / 21%);

// CONTENTS
//
// If an element is ultimately targeted, that rule goes into the elements section, and so on.
// Within each section, rules should be organized from less to more specific
//
// with subgroupings for each selector, such as the following:
// h1, section h1, .alternate h1, h2
//
// There should be no spaces between same ultimate selector group
// (such as all the permutations selecting h1's)
//
// Elements
// Classes
// IDs

// Elements  --------------------------

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em var(--primary-font), serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-family: var(--primary-font), serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}

// h1
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: var(--dark-blue);
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  text-transform: uppercase;
}
body h1 {
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
  font-size: var(--main-header-font-size);
}
.introRow h1 {
  font-size: 3.6rem;
  color: var(--white);
  text-transform: initial;
  line-height: 0.95;
  margin-bottom: 0.7rem;
}
@include media-breakpoint-up(sm) {
  .introRow h1 {
    font-size: 5rem;
  }
}
@include media-breakpoint-up(md) {
  .introRow h1 {
    font-size: 6.4rem;
  }
}
@include media-breakpoint-up(lg) {
  .introRow h1 {
    font-size: 5rem;
  }
}
html h1 {
  font-size: 2.5rem;
}
.introRow .subhead {
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
}
.videoBackground .row .tagline {
  padding-left: 1.7rem;
}

// h2
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  color: var(--dark-blue);
  text-rendering: optimizeLegibility;
  font-size: var(--large-text);
}
body h2 {
  line-height: 1;
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
}
section h2 {
  font-size: var(--main-header-font-size);
}
a h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.introText h2 {
  color: var(--white);
  font-size: 2.8rem;
}
.darkBackground h2 {
  color: var(--white);
}

// h3
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: var(--black);
  font-family: var(--highlight-font), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h2 + h3 {
  font-size: 1.8rem;
  margin-top: 0.8rem;
}
.darkBackground h3 {
  color: var(--white);
}

// h4
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--highlight-font), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
.container h4 {
  font-size: 1.1rem;
  margin-bottom: 1.1rem;
}

// h5 and h6
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--highlight-font), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: var(--highlight-font), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

// Paragraphs
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: var(--black);
  font-family: var(--primary-font);
}
.introText p {
  color: var(--white);
}
.darkBackground p {
  color: var(--white);
}

// Anchors
a {
  text-decoration: none !important;
  color: inherit;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
h2 a {
  text-decoration: none;
}
.card a {
  text-decoration: none;
}
.darkBackground a {
  color: var(--white);
}
.darkBackground h2 a {
  color: var(--white);
}
.grey-section a {
  color: var(--dark-blue);
}
.dark-blue-section a {
  color: var(--white);
}
.contact-text a {
  color: black;
}
.contact-john-levis .contact-text a {
  color: var(--dark-blue);
}
.footer a {
  color: var(--dark-blue);
}
.contact-text a:hover {
  color: var(--light-blue);
}

.contact-text p {
  font-size: 0.9rem;
}

.contact-text p:first-of-type {
  margin-bottom: 6px;
}

// Citations
cite {
  font-family: var(--light-font);
  font-style: var(--light-font-style);
  font-weight: var(--light-font-weight);
  color: var(--white);
  font-size: 1.1rem;
}
q + br + cite {
  text-transform: initial;
  font-weight: initial;
  display: block;
  padding-top: 0.5rem;
}
blockquote + cite {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
}

// Video
video {
  position: relative;
  top: 0;
  left: 0;
  height: 30rem;
  width: 100vw;
  object-fit: cover;
  filter: brightness(50%);
}

@include media-breakpoint-up(md) {
  video {
    height: 92vh;
  }
}

video {
  height: 850px;
}

// Other
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

q {
  font-size: 1.5rem;
  text-indent: -0.75rem;
  display: block;
  color: var(--white);
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
  line-height: 1.25;
}

section {
  padding: 4rem 0 3rem;
}

img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
.subhead + ul {
  padding-left: 1rem;
}

p.subhead {
  font-family: var(--bold-font);
  font-weight: var(--bold-font-weight);
  font-style: var(--bold-font-style);
  line-height: 1.25;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
  margin-bottom: 0.725rem;
}
#seminars-and-workshops li {
  text-indent: -21px;
  padding-left: 20px;
}
#mentoring li {
  text-indent: -21px;
  padding-left: 20px;
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen {
  html {
    font-size: 100%;
  }
}

.has-submenu ul {
  margin-left: 15px;
}

figcaption {
  margin-top: 0.5rem;
  color: var(--white);
  font-family: var(--bold-font);
  font-weight: var(--bold-font-weight);
  font-style: var(--bold-font-style);
  font-size: 1.2rem;
}

// Classes --------------------------


.education-section p {
  margin-bottom: 0.25rem;
}

.education-rule {
  margin: 0.5rem 0;
}

.about-photos-background {
  background-color: var(--dark-blue);
  padding: 1rem;
}

.connect-cite {
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
}

.quote-section-cite {
  display: block;
  margin-top: 0.7rem;
}

#seminars-and-workshops button {
  margin-bottom: 1rem;
}

.quote-section.grey-section {
  background-color: rgba(156, 158, 169, 0.8);
}
.quote-center {
  display: flex;
  justify-content: center;
}

#john-levis .quote-section {
  margin-bottom: 1rem;
}

$quote-background-color: rgba(49, 50, 53, 0.8);

.quote-section {
  margin-top: 8px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-blend-mode: multiply;
  background-image: linear-gradient(
      $quote-background-color,
      $quote-background-color
    ),
    url("../images/AdobeStock_145127324_soccer-field.jpeg");
}

.header-logo {
  height: 42px;
}

@include media-breakpoint-up(md) {
  .header-logo {
    height: 62px;
    margin-top: 1.1rem;
    margin-left: 1rem;
  }
}

.intro-row-crest #Crest {
  height: 28vh;
}

.intro-row-crest {
  top: 0;
  margin-top: 28px;
  justify-content: center;
  display: none;
}
@include media-breakpoint-up(md) {
  .intro-row-crest {
    display: flex;
    top: -27px;
    margin-top: 0;
  }
  #Crest {
    height: 300px;
  }
}

.john-portrait-caption {
  margin-bottom: 2rem;
}

.contact-page .contact-john-levis {
  padding-left: 2rem;
}

.contact-page .blockquote-column {
  padding-left: 0;
}

.white-bar {
  height: 6px;
  background-color: var(--white);
}

.darken {
  filter: brightness(50%);
}

.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOut {
  0% {
  }
  100% {
    bottom: -60px;
  }
}

@keyframes slideOut {
  0% {
  }
  100% {
    bottom: -60px;
  }
}

.slideOut {
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
}

@-webkit-keyframes slideIn {
  0% {
    bottom: -60px;
  }
  100% {
  }
}

@keyframes slideIn {
  0% {
    bottom: -60px;
  }
  100% {
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  max-height: 60px;
}
#animated-example.bottom-bar {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
}

.bottom-bar {
  max-height: 52px;
}

.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}

.intro-row-image {
  min-height: 600px;
  max-width: 100vw;
}

.justify-end {
  display: flex;
  justify-content: end;
}

@include media-breakpoint-up(md) {
  .blockquote-column {
    position: absolute;
    left: 16%;
  }
  .block-position .blockquote-column {
    position: initial;
  }
}

// Burger Menu
/* Position and sizing of burger button */
.bm-burger-button {
  width: 38px;
  height: 30px;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--dark-blue);
}

/* Color/shape of burger icon bars on hover*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 32px !important;
  width: 32px !important;
  right: 1.3rem !important;
  top: 1rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--white);
}

span.bm-cross:first-child {
  right: 0;
  width: 5px !important;
  height: 32px !important;
}

span.bm-cross:last-child {
  right: 0;
  width: 5px !important;
  height: 32px !important;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations.
  You should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  margin-top: 57px;
}
/* General sidebar styles */
.bm-menu {
  background: var(--dark-blue);
  padding: 2.5rem 1.5rem 0 1.5rem;
  font-size: var(--large-text);
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--dark-blue);
}
/* Wrapper for item list */
.bm-item-list {
  color: var(--dark-blue);
}
/* Individual item */
.bm-item {
  display: inline-block;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: absolute;
  top: 0;
}
.bm-menu a:hover {
  color: var(--light-blue);
}

// large-quotation-mark
.large-quotation-mark {
  font-size: 10rem;
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight); 
  font-style: var(--highlight-font-style); 
  height: 5rem;
  position: relative;
  top: -47px;
}
@include media-breakpoint-up(md) {
  .large-quotation-mark {
    height: 100%;
    position: relative;
    top: -2.9rem;
  }
}

// listitem
.listitem {
  margin: 3rem 0;
}
.listitem::after {
  content: "";
  display: block;
  width: 10rem;
  margin: 4rem auto;
  border-bottom: 1px solid black;
}

// subhead
.subhead {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.introText .subhead {
  font-size: 1.4rem;
}
@include media-breakpoint-up(md) {
  .introText .subhead {
    font-size: 1.8rem;
    line-height: 1.25;
  }
}
div.introRow {
  margin-top: 4rem;
}
@include media-breakpoint-up(md) {
  div.introRow {
    margin-top: 0rem;
  }
}

.bold {
  font-family: var(--bold-font);
  font-weight: var(--bold-font-weight);
  font-style: var(--bold-font-style);
}

// tagline
.tagline {
  letter-spacing: 5px;
  font-style: italic;
}
.subhead.tagline {
  font-size: 1.1rem;
  margin-top: 3%;
  color: var(--white);
  font-family: var(--athletic-font);
  font-weight: var(--athletic-font-weight);
  font-style: var(--athletic-font-style);
}

.subhead.tagline {
  margin-top: 0;
}
.contact-page .subhead.tagline {
  margin-top: 1rem;
}

.grey-section .subhead.tagline {
  color: var(--dark-blue);
  margin-top: 3%;
}

// Sections
.grey-section {
  background-color: var(--light-grey);
}
.light-grey-section {
  background-color: var(--lighter-grey);
}
.blue-section {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 2rem 0 2rem;
}
.dark-blue-section {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 2rem 0 2rem;
}

// Buttons
button.btn {
  font-size: 0.7rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 0;
  border-color: var(--grey);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
  background-color: var(--dark-blue) !important;
  border-color: var(--dark-blue) !important;
}

.section-button {
  margin-top: 0.5rem;
}

.no-padding {
  padding: 0;
}

// Cards
.card {
  min-height: 266px;
  padding-top: 69px;
}

.slim-card#contactCard {
  padding-left: 5px;
  padding-right: 5px;
}

.slim-card {
  min-height: 60px;
  padding-top: 1rem;
  text-align: center;
}

.slim-card a h2 {
  font-size: 1.1rem;
}

.slim-card a h2 {
  font-size: 0.9rem;
}

.row .slim-card {
  border-radius: 0;
}

.row .card {
  border-radius: 0;
}

// Other


.bigger-column {
  height: 250px;
  padding: 2rem;
}

@include media-breakpoint-up(md) {
  .wide-col-gap {
    margin-right: 2rem;
  }
}

.footer {
  padding: 1rem 0;
  font-size: 0.8rem;
}
@include media-breakpoint-up(md) {
  .footer {
    display: flex;
    justify-content: start;
    padding: 1rem 2rem;
  }
}

.container {
  padding-left: 1rem;
}

#email .container {
  padding-left: 0;
}

#email .blue-section .container {
  padding-left: 2rem;
}

.upperCase {
  text-transform: uppercase;
}

.drop-shadow {
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 4px 8px;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

.quote-no-cite {
  display: block;
  margin-bottom: 1rem;
}

.quote-no-marks {
  font-size: 1.5rem;
  display: block;
}

.intro-body {
  margin-top: 1rem;
}

$logo-mobile-scale: 80%;
.logo {
  width: $logo-mobile-scale;
  height: $logo-mobile-scale;
}
@include media-breakpoint-up(md) {
  .logo {
    margin-left: 1rem;
  }
}

.header {
  background: var(--white);
  width: 100%;
  z-index: 2;
  position: fixed;
  height: 73px;
}

.logo-box {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
}

@include media-breakpoint-up(md) {
  .logo-box {
    top: -15px;
    left: 0;
  }
}
.darkBackground {
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
}

.topBar {
  height: 71px;
}

.introText {
  font-weight: bold;
}

.introRow {
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
@include media-breakpoint-up(md) {
  .introRow {
    padding-top: 5%;
  }
}

.standaloneParagraph {
  margin: 1rem;
  max-width: 500px;
}

.contentBlock {
  display: flex;
  justify-content: center;
}

.centerText {
  text-align: center;
  margin-top: 1.7rem;
  color: var(--dark-blue);
  margin-bottom: 0;
}

.contact-page .contact-section-crest-col {
  padding-left: 0;
}
.contact-section-crest-col #Crest {
  height: 104px;
  position: relative;
  top: -9px;
}

.belowheader {
  padding-top: 84px;
}

.dark-blue-section .contact-text-container {
  padding: 0;
}
.contact-page .dark-blue-section .contact-text-container {
  padding-left: 0.3rem;
}

@include media-breakpoint-up(md) {
  .dark-blue-section .contact-text-container {
    padding-left: 0;
  }
}

.row {
  align-items: center;
  max-width: 100vw;
}

.row.home-page-main-card-row {
  margin: 0;
}

.videoBackground {
  position: absolute;
  width: 100vw;
  top: 90px;
}

.mobile-hidden {
  display: none;
}
@include media-breakpoint-up(md) {
  .desktop-hidden {
    display: none !important;
    height: 750px;
  }
  .mobile-hidden {
    display: inline;
  }
}

@include media-breakpoint-up(xxl) {
  .blockquote-column {
    margin-left: 3rem;
  }
}

.row.flex-start {
  align-items: start;
}

.listitem .article__content {
  margin-top: 1rem;
}

.column-blockquote {
  font-size: 1.7rem;
  margin-top: 3rem;
  padding-left: 1rem;
  text-indent: -0.75rem;
}

.column-citation {
  font-size: 1.2rem;
  padding-left: 1rem;
}

@include media-breakpoint-up(lg) {
  .mission-box {
    border-left: white;
    border-left-width: 2px;
    border-left-style: solid;
    padding-left: 2rem;
  }
  #mission-vision-section {
    margin-top: 2rem;
    padding-top: 0;
  }
}
section#mission-vision-section {
  padding-bottom: 5px;
}

#mission-vision-section {
  background-color: var(--dark-blue);
}

$mission-vision-font-size: 1.2rem;

.vision {
  padding-right: 3rem;
  font-size: $mission-vision-font-size;
}

.mission {
  font-size: $mission-vision-font-size;
}

.mission-column {
  margin-left: 0;
}
@include media-breakpoint-up(md) {
  .mission-column {
    margin-left: 1rem;
  }
}

.about-photo {
  box-shadow: $photo-shadow;
}

.work-photo {
  box-shadow: $photo-shadow;
}

.work-photo+figcaption {
  margin-top: 0;
  margin-bottom: 1rem;
}

.work-photo:first-of-type {
  margin-bottom: 1rem;
}

.privacy-policy {
  margin-top: 5rem;
}

// IDs #ids --------------------------

section#donate {
  padding-top: 0;
  padding-left: 0.4rem;
}

.mission-vision-box {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-vision-box:first-of-type {
  margin-bottom: 5px;
}

#mission-vision-section p {
  color: var(--white);
  margin-bottom: 0;
}

#mission-vision-section h3 {
  color: var(--light-blue);
}

#myVideo {
  min-width: 360px;
  min-height: 360px;
}

$about-gradient: var(--dark-blue-overlay);
#aboutCard {
  background-image: linear-gradient($about-gradient, $about-gradient),
    url("../images/AdobeStock-track-119954823_Preview.jpeg");
}

$work-gradient: var(--green-overlay);
#workCard {
  background-image: linear-gradient($work-gradient, $work-gradient),
    url("../images/AdobeStock-baseball_batting_spot-13720898_Preview-edit.jpg");
  max-height: 320px;
}

$contact-gradient: var(--light-blue-overlay);
#contactCard {
  background-image: linear-gradient($contact-gradient, $contact-gradient),
    url("../images/AdobeStock-high_school_fields-296321889_Preview.jpeg");
}

// Attributes --------------------

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

// MainNav

a.mainnav {
  margin: 0 auto 0;
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
  color: white;
}

.mainnav ul {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.mainnav ul ul {
  flex-direction: column;
}

.mainnav li {
  list-style-type: none;
}

.mainnav a {
  display: block;
  color: var(--white);
  border: 1px solid hsla(0, 0%, 100%, 0);
}

.mainnav a:hover,
.mainnav a:focus {
  border-color: var(--white);
}

/* Menu level one items */
.mainnav ul li a {
  font-size: 0.8rem;
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
  text-transform: uppercase;
}

/* Menu level two items */
.mainnav ul ul li a {
  text-transform: uppercase;
  font-weight: initial;
  padding-left: 1.3rem;
  text-indent: -0.6rem;
}
