.education-section p {
  margin-bottom: 0.25rem;
}

.education-rule {
  margin: 0.5rem 0;
}

@media screen and (min-width: 992px) {
  .about-page hr {
    margin: 1.2rem 0 0.7rem;
  }
  .about-page {
    padding-bottom: 0;
  }
}

.john-portrait-caption {
  margin-bottom: 2rem;
}

.about-photo {
  box-shadow: var(--photo-shadow);
}

@media screen and (min-width: 768px) {
  .wide-col-gap {
    margin-right: 2rem;
  }
}

.wheaton-row {
  margin-bottom: 1.3rem;
}

.about-photo-caption {
  max-width: 500px;
}

.about-main-section {
  margin-bottom: 2rem;
}

hr.about-photo-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-text-col {
  max-width: 70ch;
  margin-right: 0;
  margin-bottom: 2rem;
}
