.education-section p {
  margin-bottom: 0.25rem;
}

.education-rule {
  margin: 0.5rem 0;
}

.about-page {
  padding-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about-page hr {
    margin: 1.2rem 0 0.7rem;
  }
  .about-page {
    padding-bottom: 0;
  }
}

.john-portrait-caption {
  margin-bottom: 2rem;
}

.about-page li {
  margin-bottom: 1.6rem;
}

.about-photo {
  box-shadow: var(--photo-shadow);
  aspect-ratio: 1/1;
  max-height: 400 px;
  margin-left: auto;
  margin-right: auto;
}

.about-page .text-col.about-text-col {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .about-page .text-col.about-text-col {
    margin-right: 0.7rem;
  }
  .about-photo {
    margin-left: 0;
  }
  .wide-col-gap {
    margin-right: 2rem;
  }
}

.wheaton-row {
  margin-bottom: 1.3rem;
}

.about-photo-caption {
  max-width: 400px;
}

@media screen and (min-width: 1200px) {
  .about-main-section {
    margin-bottom: 2rem;
  }
}

hr.about-photo-divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-page .text-col {
  max-width: 70ch;
  margin-right: 0;
  margin-bottom: 2rem;
}
