#seminars-and-workshops li {
  text-indent: -21px;
  padding-left: 20px;
}

@media screen and (min-width: 992px) {
  #seminars-and-workshops .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.sems-and-workshops {
  padding-left: 2rem;
  padding-right: 1rem;
}

.sems-and-workshops h2 {
  font-size: 2.6rem;
}

@media screen and (min-width: 1400px) {
  div.sems-and-workshops {
    padding-top: 2.4rem;
    max-width: 70ch;
    margin-left: auto;
  }
  .one-col-section.sems-and-workshops {
    padding-top: 2.4rem;
    max-width: 70ch;
    margin-left: auto;
  }
}

#mentoring li {
  text-indent: -21px;
  padding-left: 20px;
}

@media screen and (min-width: 992px) {
  .work-photo {
    margin-bottom: 0.6rem;
  }
  .work-photo:first-of-type {
    margin-bottom: 0.6rem;
  }
}

section#mission-vision-section {
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  section#mission-vision-section {
    padding-bottom: 2rem;
  }
  section#mission-vision-section {
    padding-bottom: 0;
    border-bottom: 4px solid white;
  }
  #mission-vision-section .mission-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
  }
  .vision-box {
    border-right: white;
    border-right-width: 4px;
    border-right-style: solid;
    padding-left: 0;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  #mission-vision-section .mission-box {
    padding: 3rem 4rem;
    max-width: 498px;
  }
  #mission-vision-section .vision-box {
    padding: 3rem 4rem 3rem 0;
  }
}

.vision {
  padding-right: 3rem;
  font-size: var(--mision-vision-font-size);
}
@media screen and (min-width: 768px) {
  .vision {
    padding-right: 0;
  }
}

.mission {
  font-size: var(--mision-vision-font-size);
}

.mission-column {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .mission-column {
    margin-left: 1rem;
  }
}

.work-photo {
  box-shadow: var(--photo-shadow);
  padding-left: 1rem;
  padding-right: 1rem;
}

.work-photo + figcaption {
  margin-top: 0;
  margin-bottom: 1rem;
}

.work-photo:first-of-type {
  margin-bottom: 1rem;
}

.mission-vision-box {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.mission-vision-box:first-of-type {
  padding-bottom: 0;
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .mission-vision-box:first-of-type {
    margin-bottom: 0;
    border-right: 4px solid white;
  }
}

@media screen and (min-width: 768px) {
  .mission-vision-box:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
    min-height: 198px;
  }
}

#mission-vision-section {
  background-color: var(--dark-blue);
  padding-top: 0;
}

#mission-vision-section p {
  color: var(--white);
  margin-bottom: 0;
}

#mission-vision-section h3 {
  color: var(--light-blue);
}

@media screen and (min-width: 768px) {
  #mission-vision-section {
    margin-top: 0;
    padding-top: 0;
  }
}

#seminars-and-workshops .photos-background {
  background-color: white;
}

#seminars-and-workshops figcaption {
  color: var(--dark-blue);
}

.photos-background figcaption {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .photos-background figcaption {
    margin-left: 0;
  }
}

#seminars-and-workshops .photos-background {
  margin-bottom: 2rem;
}

.work-container .photos-background {
  background-color: white;
}

#seminars-and-workshops {
  grid-area: seminars;
}

.work-container {
  padding-top: 2rem;
}

.work-container section {
  padding-top: 0;
}

#mentoring {
  grid-area: mentoring;
  padding-top: 2rem;
}

@media screen and (min-width: 1096px) {
  #mentoring {
    padding-top: 2rem;
  }
  .gatsby-image-wrapper.gatsby-image-wrapper-constrained.work-photo.joy-static-image {
    margin-top: 2rem;
  }
}

.joy {
  grid-area: joy;
}

.pyramid {
  grid-area: pyramid;
}

.work-container {
  padding-bottom: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "seminars"
    "pyramid"
    "joy"
    "mentoring";
}

.work-area {
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.work-container .photos-background {
  padding: 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.work-container section {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80ch;
}

@media screen and (min-width: 1096px) {
  .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "seminars pyramid"
      "mentoring joy";
  }

  .work-area {
    margin-left: auto;
    margin-right: 0;
  }

  .work-container .photos-background {
    margin-left: 0;
  }
}

.work-header-break-two {
  display: none;
}

@media screen and (min-width: 576px) {
  .work-header-break-two {
    display: initial;
  }
  .work-header-break-one {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .work-header-break-two {
    display: none;
  }
}
