.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideOut {
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
}

@-webkit-keyframes slideOut {
  0% {
  }
  100% {
    bottom: -60px;
  }
}

@keyframes slideOut {
  0% {
  }
  100% {
    bottom: -60px;
  }
}

@-webkit-keyframes slideIn {
  0% {
    bottom: -60px;
  }
  100% {
  }
}

@keyframes slideIn {
  0% {
    bottom: -60px;
  }
  100% {
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  max-height: 60px;
}
#animated-example.bottom-bar {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
}

.bottom-bar {
  max-height: 52px;
}
