/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 1rem;
  top: 1rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--orange);
}

/* Color/shape of burger icon bars on hover*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 48px !important;
  width: 48px !important;
  right: 1.3rem !important;
  top: 1rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--white);
}

span.bm-cross:first-child {
  right: 0;
  width: 10px !important;
  height: 48px !important;
}

span.bm-cross:last-child {
  right: 0;
  width: 10px !important;
  height: 48px !important;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--dark-blue);
  padding: 2.5em 1.5em 0;
  font-size: var(--large-text);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--dark-blue);
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--dark-blue);
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
