/* Here is styling for the Card component, not the CardSlim component */

.card a {
  text-decoration: none;
}

.card {
  min-height: 266px;
  padding-top: 69px;
}

@media screen and (min-width: 992px) {
  .card {
    padding-top: 38px;
  }
}

.row .card {
  border-radius: 0;
}

@media screen and (min-width: 1400px) {
  .card {
    padding-top: 57px;
  }
}
