.slim-card#contactCard {
  padding-left: 5px;
  padding-right: 5px;
}

.slim-card {
  min-height: 60px;
  padding-top: 1rem;
  text-align: center;
}

.slim-card a h2 {
  font-size: 1.1rem;
}

.slim-card a h2 {
  font-size: 0.9rem;
}

.row .slim-card {
  border-radius: 0;
}
