.coachquote-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.75rem;
}

@media screen and (min-width: 576px) {
  .coachquote-container {
    padding-left: 0;
    margin-left: 11vw;
  }
}

.coachquote-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .coachquote-column {
    margin-left: var(--coachquote-lg-left);
  }
  .block-position .coachquote-column {
    position: initial;
  }
}
@media screen and (min-width: 1400px) {
  .coachquote-column {
    position: static;
  }
}

.coachquote-section {
  background-color: var(--light-blue);
  color: var(--white);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#quote-marks {
  float: left;
  height: 2.6rem;
  padding-right: 0.7rem;
}

@media screen and (min-width: 768px) {
  #quote-marks {
    display: inline;
    position: absolute;
    left: 3vw;
  }
}

@media screen and (min-width: 992px) {
  #quote-marks {
    left: 11vw;
  }
}
