.footer {
  display: flex;
  justify-content: space-around;
  background: var(--dark-blue);
  padding: 2rem;
  text-align: center;
  color: var(--white);
  margin-top: 1rem;
}

.footer a {
  color: var(--white);
}
