.footer {
  display: flex;
  justify-content: space-around;
  /* Comb orange */
  background-color: var(--dark-blue);
  padding: 2rem;
  text-align: center;
  /* Bee black */
  color: var(--white);
}

.footer a {
  /* Bee black */
  color: var(--white);
}
