.footer {
  display: flex;
  justify-content: space-around;
  background: var(--white);
  padding: 1rem 2rem 2rem;
  text-align: center;
  color: var(--white);
}

.footer a {
  color: var(--white);
}
