.footer a {
  color: var(--dark-blue);
}

.footer {
  padding: 1rem 0;
  font-size: 0.8rem;
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
}

@media screen and (min-width: 768px) {
  footer.footer {
    display: flex;
    justify-content: start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
  }
  .container.footer-container {
    padding-left: 0;
    margin-left: 3vw;
  }
}
