.header-logo {
  height: 42px;
}

@media screen and (min-width: 768px) {
  .header-logo {
    height: 62px;
    margin-top: 1.1rem;
    margin-left: 1.8rem;
  }
}

.header-bar {
  height: 4px;
  background-color: var(--white);
}

.header {
  background: var(--white);
  width: 100%;
  z-index: 2;
  position: fixed;
  height: 73px;
}

.logo-box {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
}

@media screen and (min-width: 768px) {
  .logo-box {
    top: -15px;
    left: 0;
  }
}
