/* This CSS applies to the IntroRow component */

.introRow h1 {
  font-size: 3rem;
  color: var(--white);
  text-transform: initial;
  line-height: 0.95;
  margin-bottom: 0.9rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 576px) {
  .introRow h1 {
    font-size: 5rem;
    margin-bottom: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .introRow h1 {
    font-size: 6.4rem;
  }
}

@media screen and (min-width: 992px) {
  .introRow h1 {
    font-size: 5.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .introRow h1 {
    font-size: 6.9rem;
  }
}

@media screen and (min-width: 1400px) {
  .introRow h1 {
    padding-right: 2rem;
    margin-bottom: 2.2rem;
  }
}

.introRow .subhead {
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
}

.introText {
  font-weight: bold;
}

.introText h2 {
  color: var(--white);
  font-size: 2.8rem;
}

.introText p {
  color: var(--white);
}

@media screen and (min-width: 1400px) {
  .introText {
    margin-left: 6vw;
    margin-right: 2vw;
    padding: 0;
    width: 745px;
  }
  .intro-row-crest #Crest {
    height: 38vh;
    position: relative;
    left: -3.5vw;
  }
}

.intro-row-crest #Crest {
  height: 28vh;
}

.intro-row-crest {
  top: 0;
  margin-top: 0;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 768px) {
  .intro-row-crest {
    display: flex;
    top: -27px;
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .intro-row-crest {
    position: relative;
    top: -34px;
  }
  .contact-page .intro-row-crest {
    top: -51px;
  }
}

@media screen and (min-width: 1200px) {
  .about-page .intro-row-crest {
    position: relative;
    top: -48px;
  }
}

.introText .subhead {
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .introText .subhead {
    font-size: 1.8rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  div.introRow {
    margin-top: 0rem;
  }
}
@media screen and (min-width: 992px) {
  div.introRow {
    margin-top: 13vh;
  }
}

.introRow {
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.intro-body {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .introRow {
    padding-top: 5%;
  }
}

.videoBackground {
  position: absolute;
  width: 100vw;
  top: 90px;
}
