@media screen and (min-width: 768px) {
  div.lets-connect {
    margin-left: 3vw;
    padding-left: 0;
  }
}

@media screen and (min-width: 992px) {
  div.lets-connect {
    margin-left: 0;
  }
}

@media screen and (min-width: 1400px) {
  div.lets-connect {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}

.connect-cite {
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
}

.contact-text a {
  color: black;
}

.contact-john-levis .contact-text a {
  color: var(--dark-blue);
}

.contact-text a:hover {
  color: var(--light-blue);
}

.contact-text p {
  font-size: 0.9rem;
}

.contact-text p:first-of-type {
  margin-bottom: 4px;
}
