/* // Burger Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  width: 38px;
  height: 30px;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--dark-blue);
}

/* Color/shape of burger icon bars on hover*/

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 32px !important;
  width: 32px !important;
  right: 1.3rem !important;
  top: 1rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--white);
}

span.bm-cross:first-child {
  right: 0;
  width: 5px !important;
  height: 32px !important;
}

span.bm-cross:last-child {
  right: 0;
  width: 5px !important;
  height: 32px !important;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations.
  You should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  margin-top: 57px;
}
/* General sidebar styles */
.bm-menu {
  background: var(--dark-blue);
  padding: 2.5rem 1.5rem 0 1.5rem;
  font-size: var(--large-text);
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--dark-blue);
}
/* Wrapper for item list */
.bm-item-list {
  color: var(--dark-blue);
}
/* Individual item */
.bm-item {
  display: inline-block;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: absolute;
  top: 0;
}
.bm-menu a:hover {
  color: var(--light-blue);
}

a.mainnav {
  margin: 0 auto 0;
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
  font-style: var(--primary-font-style);
  color: white;
}

.mainnav ul {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.mainnav ul ul {
  flex-direction: column;
}

.mainnav li {
  list-style-type: none;
}

.mainnav a {
  display: block;
  color: var(--white);
  border: 1px solid hsla(0, 0%, 100%, 0);
}

.mainnav a:hover,
.mainnav a:focus {
  border-color: var(--white);
}

/* Menu level one items */
.mainnav ul li a {
  font-size: 0.8rem;
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
  text-transform: uppercase;
}

/* Menu level two items */
.mainnav ul ul li a {
  text-transform: uppercase;
  font-weight: initial;
  padding-left: 1.3rem;
  text-indent: -0.6rem;
}

section.footer-section {
  padding-top: 0;
  padding-bottom: 0;
}
