#pins {
  filter: drop-shadow(3px 6px 8px rgba(0, 0, 0, 0.4));
  stroke: var(--grey);
  stroke-width: 3px;
}

.st5 {
  font-family: var(--highlight-font);
  font-weight: var(--highlight-font-weight);
  font-style: var(--highlight-font-style);
}

@media screen and (min-width: 992px) {
  .map-text {
    padding-left: 2.1rem;
  }
}
