p.subhead.tagline {
  padding-left: 0.8rem;
}

.tagline {
  letter-spacing: 5px;
  font-style: italic;
}

.subhead.tagline {
  font-size: 1.4rem;
  color: var(--white);
  font-family: var(--athletic-font);
  font-weight: var(--athletic-font-weight);
  font-style: var(--athletic-font-style);
  margin-top: 0;
}

.contact-page .subhead.tagline {
  margin-top: 1rem;
}

.grey-section .subhead.tagline {
  color: var(--dark-blue);
  margin-top: 3%;
}

@media screen and (min-width: 1400px) {
  .tagline-section {
    padding-left: 16vw;
  }
}

@media screen and (min-width: 768px) {
  .tagline-col {
    padding-left: 0;
  }
  .tagline-container {
    margin-left: 3vw;
  }
}

@media screen and (min-width: 992px) {
  .taglineRow {
    padding-left: 0.7rem;
  }
  p.subhead.tagline {
    padding-left: 0;
  }
}
